<div class="skill" id="{{ skill.button }}">
  <video>
    <source src="{{ asset('build/assets/video/lol/champions/' ~ champion ~ '/' ~ skill.button ~ '.webm') }}" type="video/webm">
    Your browser does not support the video tag.
  </video>

  <div>
    <h2>
      <img src="{{ asset('build/assets/images/lol/champions/' ~ champion ~ '/' ~ skill.button ~ '.png') }}" />
      {{ skill.name }}
    </h2>

    <div>
      {% if skill.cost is defined %}
        <p class="cost">
          <span class="bold">Coût:</span> {{ skill.cost }} {{ skill.costType is defined ? skill.costType : 'mana' }}
        </p>
      {% endif %}

      {% if skill.cooldown is defined %}
        <p class="cooldown">
          <span class="bold">Récupération:</span> {{ skill.cooldown }}s
        </p>
      {% endif %}

      {% if skill.passive is defined %}
        <p class="passive">
          <span class="bold">Passive:</span> {{ skill.passive }}
        </p>
      {% endif %}

      <p class="description">
        {{ skill.passive is defined ? '<span class="bold">Active:</span> ' : '' }} {{ skill.description | raw }}
      </p>
    </div>
  </div>
</div>