{% block stylesheets %}
  <link href="{{ asset('build/css/partials/skills.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/js/partials/skills.js') }}"></script>
{% endblock %}

<div class="skills">
  <div class="nav">
    {% for skill in skills %}
      <div class="tab {{ skill.button is same as('passive') ? 'active' : '' }}" id="tab-{{ skill.button }}">
        {{ skill.button }}
      </div>
    {% endfor %}
  </div>

  {% for skill in skills %}
    {% include '/partials/lol/skill.html.twig' with { 'skill': skill, 'champion': champion } %}
  {% endfor %}
</div>